@model IEnumerable<ProjectOne.Models.OrderHeader>

@{
    ViewData["Title"] = "OrderHistory";
}

<h1>OrderHistory</h1>

<p>
    @Html.ActionLink("Sort By Earliest", "OrderHistory", new { sort = 1 }) |
    @Html.ActionLink("Sort By Latest", "OrderHistory", new { sort = 2 }) |
    @Html.ActionLink("Sort By Cheapest", "OrderHistory", new { sort = 3 }) |
    @Html.ActionLink("Sort By Most Expensive", "OrderHistory", new { sort = 4 })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StoreID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCost)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.OrderID }) |
                @Html.ActionLink("Resubmit", "Resubmit", new { id = item.OrderID })
            </td>
        </tr>
}
    </tbody>
</table>
